//header
.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: 0.3s ease-out;
  @extend %clearfix;
  @include screen('mobile') {
    position: fixed;
    width: 100%;
    background: #fff;
    height: auto;
  }
  // mobile btn for extend
  %mobileCtrlBtn {
    width: 60px !important;
    height: 60px !important;
    position: absolute;
    top: 0px;
    display: block;
    font-size: 0em;
    padding: 15px;
    margin: 0;
    min-width: auto;
    min-height: auto;
    background: transparent;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    @include screen('mobile') {
      display: block !important;
    }
  }
  >.container {
    max-width: $container-max;
    overflow: visible;
    position: relative; // menu
    .sidebarCtrl {
      display: none;
      left: 0px;
      @extend %mobileCtrlBtn;
      span {
        position: absolute;
        background: $secondaryColor;
        width: 50%;
        height: 3px;
        top: 20px;
        left: 50%;
        margin-left: -25%;
        display: block;
        border-radius: 2px;
        &:nth-child(2) {
          top: 28px;
        }
        &:nth-child(3) {
          top: 36px;
        }
      }
    }
    // search
    .searchCtrl {
      display: none;
      right: 0px;
      font-size: 0em;
      @extend %mobileCtrlBtn;
      &:before {
        width: 40px;
        height: 40px;
        background: url(../images/basic/icon_search.png) no-repeat center center;
        background-size: 28px;
        opacity: 0.6;
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        display: block;
      }
    }
  }
  h1 {
    width: 198px;
    height: 50px;
    margin: 0 auto 40px;
    padding: 0;
    box-sizing: border-box;
    a {
      display: inline-block;
    }
    img {
      display: block;
      max-width: 198px;
      max-height: 50px;
    }
    @include screen('mobile') {
      padding: 2px 60px;
      width: 100%;
      text-align: center;
      height: 60px;
      margin: 0;
      img {
        width: auto;
        height: auto;
        max-height: 54px;
        margin: 0px auto;
        transform: scale(0.8);
      }
    }
  }
  // 導覽列
  .navigation {
    @include screen('mobile') {
      display: none;
    }
    @extend %clearfix;
    box-sizing: border-box;
    display: flex;
    .navlist {
      flex: 1 1 auto;
      margin: 0.25em 0.5em 0 0;
      ul {
        padding: 0;
        margin: 0;
        font-size: 0.875em;
        list-style: none;
        display: flex;
        justify-content: flex-end;
      }
      li {
        flex: 0 0 auto;
        a {
          display: block;
          padding: 0.5em;
          text-decoration: none;
          color: $aColor;
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.mp .header {
  height: 480px;
  &::before {
    content: "";
    width: 120px;
    height: 150px;
    display: block;
    background: url(../images/deco1.png) no-repeat 0 0;
    position: absolute;
    right: 0;
    top: 110px;
    @include screen('mobile') {
      display: none;
    }
  }
  &::after {
    content: "";
    width: 251px;
    height: 288px;
    display: block;
    background: url(../images/deco2.png) no-repeat 0 0;
    position: absolute;
    left: 0;
    top: 520px;
    transform-origin: 0;
    transition: all .5s;
    @media screen and (max-width: 1200px) {
      transform: scale(.8);
    }
    @include screen('mobile') {
      display: none;
    }
  }
}